@import "bootstrap-sprockets";
@import "bootstrap";
section
{
    text-align: center;
    background-image: url(/FabLab.jpg);
    height: 850px ;
    background-size: cover;
    background-repeat:no-repeat;
    color: white;
}
.navbar-default {
    padding-top: 20px;
    background-color: transparent;
    border-color: transparent;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
}
.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-default .navbar-brand
{
    color: red;
    font-size: 40px;
    font-weight: bold;
}
.cover-container {
    width: 700px;
}
form.form-signin
{
  margin-top: 250px;

}
.navbar-default .navbar-nav > li > a
{
    color: red;
}
/*

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
